<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>E-mart || About Us</title>

  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color: #B3E5FC;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
  <div style="text-align:center;">
    <h1>Welcome to E-mart!</h1>
    <p>At E-mart, we provide a platform for buying and selling a wide range of products. Whether you're looking to purchase items or sell your own, E-mart has got you covered.</p>
  </div>
  <br><br><br>
  <h3 style="text-align:center;">“I don’t create companies for the sake of creating companies, but to get things done.” </h3>
</body>
</html>
